__pycache__/
index/
index_general/
output/
P-L/
P-L_general/
PDBind_2020/
PDBind_2020_index/
CASF-2016/
*.log
*.tar.gz
*.gz
*.pt
*.csv
*.zip
*.pyc
*.pkl
*.pyo
*.log
*.tar
*.xlsx
*.mol2
*.sdf
*.pdb
*.pdbqt

